<style>
    @import url('https://fonts.cdnfonts.com/css/daggersquare');
    .parallax-inner-div {
        position: relative;
        width: 100%;
        height: 55vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to top, #909ea6, #e0cfbd, #9bacbe);
    }


    .parallax-inner-div a{
        color : white;
        font-family: 'DAGGERSQUARE', sans-serif;
        font-size: 5vw;
        text-decoration: none;
        position: absolute;
        transition: transform 0.2s;
        
    }

    .parallax-inner-div a:hover{
        transform: translateY(-1vw);
    }

    .parallax-inner-div img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: auto;
        object-fit: cover;
        pointer-events: none;
    }

    

  
</style>
<div class="parallax-container">
    <div class="parallax-inner-div">
        <a href="#" class="text-parliament" id="text-behind-parliament">DISCOVER</a>
        <img src="{{ section.settings.parallax_first_layer | image_url: width: 1500 }}" alt="" id="layer1">
        <img src="{{ section.settings.parallax_second_layer | image_url: width: 1500 }}" alt="" id="layer2">
        <img src="{{ section.settings.parallax_third_layer | image_url: width: 1500 }}" alt="" id="layer3">
    </div>
</div>

<script>
    let parliament = document.getElementById("layer1");
    let parliamentText = document.getElementById("text-behind-parliament");
    let buildings = document.getElementById("layer2");
    let pillars = document.getElementById("layer3");
    let innerDiv = document.querySelector(".parallax-inner-div");
    const topValue = parseInt(window.getComputedStyle(parliamentText).top, 10) || 0;

    window.addEventListener('scroll', () => {
        var value = window.scrollY;


        parliamentText.style.top = (topValue + value*0.3) + 'px';
        parliament.style.top = value*0.30 + 'px';
        buildings.style.top = value*0.15 + 'px';

       
        
        
  
    })
</script>

{% schema %}
    {
        "name": "Parallax Hero Section",
        "class": "parallax-hero",
        "settings": [
            {
                "type": "image_picker",
                "id": "parallax_first_layer",
                "label": "Layer 1"
            },
            {
                "type": "image_picker",
                "id": "parallax_second_layer",
                "label": "Layer 2"
            },
            {
                "type": "image_picker",
                "id": "parallax_third_layer",
                "label": "Layer 2"
            }
        ],
        "blocks": [],
        "presets": [
            {
                "name": "Parallax Hero",
                "settings": {}
            }
        ]
    }
{% endschema %}
